@model Games

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

    
<hr />
<div class="card border-light rounded-4 mt-3 overflow-hidden">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
                <div>
                    @Html.DisplayFor(model => model.Description)
                                                                               
                </div>
                <div>
                    @foreach (var gamecategories in Model.GameCategories)
                    {
                        <span class="badge rounded-pill bg-secondary fs-6">@gamecategories.Category.Name</span>
                    }
                </div>
                <div>
                    @foreach (var gamedevices in Model.GameDevices)
                    {
                        <i class="@gamedevices.Device.Icon me-2 fs-4"></i>
                    }
                </div>                                                                          
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="@FileSettings.ImagesPath/@Model.Cover" alt="@Model.Name" class="w-75 " height="400px" width="300px" />
            </div>
        </div>       
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
