@model PaginatedList<Games>
@{
    ViewData["Title"] = "Games";

}

<style>
    .card:hover {
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out;
    }

</style>
<h3>
    <i class="bi bi-dpad"></i>
    Games
</h3>

@if (!Model.Any())
{
    <div class="alert alert-danger mt-5"> 
        <h4 class="alert-heading">No Games!</h4>
        <p class="mb-0">No games were added yet!.</p>
    </div>
}


<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm border-0 h-100">
                <a asp-controller="Games" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-dark">
                    <img src="@($"{FileSettings.ImagesPath}/{item.Cover}")"
                         class="card-img-top"
                         alt="@item.Name"
                         style="height: 250px; object-fit: cover;" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-primary text-truncate" title="@item.Name">@item.Name</h5>
                        <div class="mb-2">
                            @foreach (var gamecategories in item.GameCategories)
                            {
                                <span class="badge bg-secondary me-1">@gamecategories.Category.Name</span>
                            }
                        </div>
                        <div class="mt-auto d-flex justify-content-between align-items-center">
                            <div>
                                @foreach (var gamedevices in item.GameDevices)
                                {
                                    <i class="@gamedevices.Device.Icon me-2 fs-5 text-muted"></i>
                                }
                            </div>
                            <form asp-controller="Cart" asp-action="Add" method="post" class="m-0">
                                <input type="hidden" name="gameId" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-outline-primary">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
       