@model PaginatedList<Games>
@{
    ViewData["Title"] = "Games";

}

<h3>Games</h3>

@if (!Model.Any())
{
    <div class="alert alert-danger mt-5"> 
        <h4 class="alert-heading">No Games!</h4>
        <p class="mb-0">No games were added yet!.</p>
    </div>
}


<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">@item.Name</div>
                <div class="card-body" style="background-image:url(@($"{@FileSettings.ImagesPath}/{@item.Cover}")); background-size:cover; background-position:center; height:400px">
                    @* <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@              
                    
                </div>
                <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                    <div class="align-items-end h-100">
                        @foreach (var gamecategories in item.GameCategories)
                        {
                            <span class="badge rounded-pill bg-secondary">@gamecategories.Category.Name</span>
                        }
                    </div>
                    <div>
                        @foreach (var gamedevices in item.GameDevices)
                        {
                            <i class="@gamedevices.Device.Icon me-2 fs-4"></i>
                        }
                    </div>
                </div>
            </div>            

        </div>
        
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
       